.busybiz-header .wp-element-button {
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 3px;
}

.wp-block-navigation__responsive-container.is-menu-open.has-modal-open {
  padding: 1.5rem;
}