<!-- wp:template-part {"slug":"header","theme":"busybiz","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group"
  style="
    padding-top: var(--wp--preset--spacing--80);
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: var(--wp--preset--spacing--80);
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":""}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"fontSize":"small","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div
      class="wp-block-group alignwide has-small-font-size"
      style="
        padding-top: var(--wp--preset--spacing--40);
        padding-bottom: var(--wp--preset--spacing--40);
      "
    >
      <!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /-->

      <!-- wp:post-author-name /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-title {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"fontSize":"large"} /-->

    <!-- wp:post-content {"align":"wide","style":{"typography":{"fontSize":"1rem"}},"layout":{"type":"default"}} /-->

    <!-- wp:separator {"align":"wide","className":"is-style-wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
    <hr
      class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide"
      style="
        margin-top: var(--wp--preset--spacing--50);
        margin-bottom: var(--wp--preset--spacing--50);
      "
    />
    <!-- /wp:separator -->

    <!-- wp:group {"align":"wide","fontSize":"small","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"top"}} -->
    <div class="wp-block-group alignwide has-small-font-size">
      <!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
      <div class="wp-block-group">
        <!-- wp:post-terms {"term":"category"} /-->

        <!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"modified"}}}},"className":"wp-block-post-date__modified-date"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:comments {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
  <div
    class="wp-block-comments alignwide"
    style="
      padding-right: var(--wp--preset--spacing--30);
      padding-left: var(--wp--preset--spacing--30);
    "
  >
    <!-- wp:comments-title {"level":3} /-->

    <!-- wp:comment-template {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-columns">
      <!-- wp:column {"width":"40px"} -->
      <div class="wp-block-column" style="flex-basis: 40px">
        <!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:comment-author-name {"style":{"spacing":{"margin":{"right":"0","left":"0"}}},"fontSize":"small"} /-->

        <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
        <div class="wp-block-group" style="margin-top: 0px; margin-bottom: 0px">
          <!-- wp:comment-date {"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"fontSize":"small"} /-->

          <!-- wp:comment-edit-link {"fontSize":"small"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:comment-content {"style":{"spacing":{"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} /-->

        <!-- wp:comment-reply-link {"fontSize":"small"} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->

    <!-- wp:comments-pagination {"paginationArrow":"arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"layout":{"type":"flex","verticalAlignment":"center","justifyContent":"space-between"}} -->
    <!-- wp:comments-pagination-previous /-->

    <!-- wp:comments-pagination-numbers /-->

    <!-- wp:comments-pagination-next /-->
    <!-- /wp:comments-pagination -->

    <!-- wp:post-comments-form /-->
  </div>
  <!-- /wp:comments -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"busybiz","tagName":"footer"} /-->
